$stripeWidth: 32px;

.button {
	padding: 8px 16px;
	border-radius: 4px;

	--color: #0776df;
	--color-light: #2596ff;
	--color-outline: rgba(0, 105, 204, .4);

	color: white;
	background-color: var(--color);

	align-items: center;
	letter-spacing: .5px;

	&:hover {
		background-color: var(--color-light);
	}

	&:focus-visible {
		outline: none;
		box-shadow: 0 0 0 4px var(--color-outline);
	}

	&:disabled {
		cursor: default;
		color: #555;
		background-color: #ddd;
	}
}

:global(.second) {
	--color: #e10199;
	--color-light: #f525af;
	--color-outline: rgba(242, 0, 166, .4);
}

.busy {
	&, &:hover {
		background-color: var(--color);
		background-size: $stripeWidth $stripeWidth;
	}

	background-image: linear-gradient(-45deg,
			var(--color-light) 25%,
			transparent 25%,
			transparent 50%,
			var(--color-light) 50%,
			var(--color-light) 75%,
			transparent 75%);

	animation: busy linear .4s infinite;
}

@keyframes busy {
	from {
		background-position: 0;
	}
	to {
		background-position: -$stripeWidth;
	}
}
