.text {
	display: inline-flex;
	padding: 10px;
	color: inherit;

	// Avoid +1px height for <a> on chrome
	line-height: 1;

	&:hover, &:focus-visible {
		background: rgba(255, 255, 255, .2);
	}

	&:focus-visible {
		outline: 1px white dotted;
	}

	&:active {
		background: rgba(255, 255, 255, .15);
	}

	&.active {
		color: #08c5ff;
	}

	// <a> does not support :enabled
	&[disabled] {
		color: #999;

		&:hover, &:active {
			background: none;
		}
	}
}

$stripeWidth: 32px;

.button {
	padding: 8px 16px;
	border-radius: 4px;

	--color: #0776df;
	--color-light: #2596ff;
	--color-outline: rgba(0, 105, 204, .4);

	color: white;
	background-color: var(--color);

	align-items: center;
	letter-spacing: .5px;

	text-decoration: none;

	&:hover {
		text-decoration: none;
		background-color: var(--color-light);
	}

	&:focus-visible {
		text-decoration: none;
		outline: none;
		box-shadow: 0 0 0 5px var(--color-outline);
	}

	&:disabled {
		cursor: default;
		color: #555;
		background-color: #ddd;
	}
}

.outline {
	composes: button;

	background-color: transparent;
	color: var(--color-light);
	border: solid 1px var(--color-light);

	&:hover {
		color: white;
		background-color: var(--color);
		border-color: var(--color);
	}
}

:global(.second) {
	--color: #e10199;
	--color-light: #f525af;
	--color-outline: rgba(242, 0, 166, .4);
}

.button.active {
	&, &:hover {
		background-color: var(--color);
		background-size: $stripeWidth $stripeWidth;
	}

	background-image: linear-gradient(-45deg,
			var(--color-light) 25%,
			transparent 25%,
			transparent 50%,
			var(--color-light) 50%,
			var(--color-light) 75%,
			transparent 75%);

	animation: busy linear .4s infinite;
}

@keyframes busy {
	from {
		background-position: 0;
	}
	to {
		background-position: -$stripeWidth;
	}
}
