$color-checked: #069AF9;

$size: 24px;

.container {
	display: inline-block;
	position: relative;
	line-height: 1;
	cursor: pointer;

	&:focus-within {
		outline: dotted 2px;
	}
}

.input {
	position: absolute;
	opacity: 0;
	cursor: inherit;
}

.mark {
	display: inline-flex;
	height: $size;
	font-size: $size;
	color: #bbb;
	vertical-align: middle;

	&.checked {
		color: $color-checked;
	}
}

.label {
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
}
