.iconButton {
	display: inline-block;
	padding: 10px;
	color: #999;

	// Avoid +1px height for <a> on chrome
	line-height: 1;
}

// <a> does not support :enabled
.iconButton:not([disabled]) {
	color: inherit;

	&:hover, &:focus {
		background: rgba(255, 255, 255, .2);
	}

	&:active {
		background: rgba(255, 255, 255, .15);
	}

	&:focus {
		outline: 1px white dotted;
	}
}

.iconButton.active {
	color: #08f7ff;
}
