.iconButton {
	padding: 10px;
	font-size: initial;
	color: #999999;
	border: none;
	background: transparent;
	transition: .15s;
}

.iconButton:not([disabled]) {
	color: inherit;
	cursor: pointer;

	&:hover, &:focus {
		background: rgba(255, 255, 255, .2);
	}

	&:active {
		background: rgba(255, 255, 255, .15);
	}
}

.iconButton.active {
	color: #80ff66;
}
