$color: #2183ff;
$thumb-size: 18px;

.container {
	position: relative;

	&::before {
		content: "";
		display: block;

		position: absolute;
		left: 0;
		top: calc(50% - 1px);
		width: 100%;
		height: 2px;

		background: linear-gradient($color, $color) 0/var(--value-percent) 100% no-repeat #ddd;
	}
}

.thumbRegion {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: $thumb-size;
	pointer-events: none;
}

.thumb {
	display: block;
	width: $thumb-size;
	height: $thumb-size;
	padding: 3px;
	margin-left: var(--value-percent);

	border-radius: 50%;
	border: 2px solid $color;
	background-color: $color;
	box-sizing: border-box;

	&::before {
		content:"";
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $color;
	}
}

.input {
	display: block;
	width: 100%;
	margin: 0;
	opacity: 0;
}

.input:active + .thumbRegion > .thumb {
	background-color: #a6ccff;
}
