.fieldset {
	border: none;
	flex: 1;
	overflow: auto;
}

.header {
	display: flex;
}

.tab {
	flex: 1;
	position: relative;
	padding: 12px;
	cursor: pointer;

	&:not(.active) {
		transition: background-color .1s;
		color: white;
		background: #888;

		&:hover, &:focus {
			background: #999;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	padding: 15px;
	flex: 1;
	overflow: auto;
}

.uploadFile {
	position: relative;
	flex: 1;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;

		border: dashed 5px #ccc;
		transition: .2s;
	}

	&:focus-within, &:hover {
		outline: none;

		&::before {
			border-color: #76b3ff;
		}
	}
}

.fileInput {
	display: none;
}

.footer {
	display: flex;
	justify-content: flex-end;
}

.button {
	padding: 10px 15px;
	font-size: 1.125rem;
	letter-spacing: .5px;

	cursor: pointer;
	border: none;
	color: white;
	transition: background-color .2s;

	&.primary {
		background: #2c2cff;

		&:hover, &:focus {
			background: blue;
		}

		&:active {
			background: #3c3cff;
		}
	}

	&.minor {
		background: #909090;

		&:hover, &:focus {
			background: #787878;;
		}

		&:active {
			background: #b3b3b3;
		}
	}
}
