.container {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	background-image:
			linear-gradient(45deg, #eee 25%, transparent 0),
			linear-gradient(45deg, transparent 75%, #eee 0),
			linear-gradient(45deg, #eee 25%, transparent 0),
			linear-gradient(45deg, transparent 75%, #eee 0);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px, 10px 10px, 0 0;
}

.inputs {
	composes: controls from global;

	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	border-bottom-left-radius: 4px;
}

.wrapper {
	background: var(--original);
	background-size: 100% 100%;

	will-change: filter,transform;
	transform: translate(var(--x),var(--y)) scale(var(--scale));
	filter: brightness(var(--brightness));
}

.canvas {
	width: 100%;
	height: 100%;
}
