.container {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.inputs {
	composes: controls from global;

	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	border-bottom-left-radius: 4px;
}

.wrapper {
	background: var(--original);
	background-size: 100% 100%;

	will-change: filter,transform;
	transform: translate(var(--x),var(--y)) scale(var(--scale));
	filter: brightness(var(--brightness));
}

.canvas {
	width: 100%;
	height: 100%;
}
