.button {
	padding: 8px 16px;
	border-radius: 4px;

	color: white;
	background: #0776df;

	border: 0;
	align-items: center;
	cursor: pointer;
	font-size: 1rem;
	letter-spacing: .5px;

	transition: .15s;

	&:hover {
		background: #0069cc;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 4px rgba(0, 105, 204, .4);
	}

	&:disabled {
		cursor: default;
		color: #555;
		background: #ddd;
	}
}

:global(.second) {

}