.form {
	display: flex;
	flex-direction: column;
	padding: 15px;
	flex: 1;
	overflow: auto;
}

.uploadFile {
	position: relative;
	flex: 1;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;

		border: dashed 5px #ccc;
		transition: .2s;
	}

	&:focus-within, &:hover {
		outline: none;

		&::before {
			border-color: #76b3ff;
		}

		& > .icon {
			color: #bf76ff;
		}

		& > .text {
			color: #3377ff;
		}
	}
}

.icon {
	font-size: 100px;
	color: #ccc;
	transition: .2s;
}

.text {
	color: #ccc;
	font-size: 48px;
}

.fileInput {
	display: none;
}
