.container{
	position: absolute;
	left: 0;
	bottom: 50px;
	background: rgba(0, 0, 0, .75);

	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.chart {
	width: 600px;
	height: 380px;
}
