.container{
	position: absolute;
	left: 0;
	bottom: 50px;
	background: rgba(0, 0, 0, .8);

	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.chart {
	width: 600px;
	height: 380px;
}

.lock {
	position: absolute;
	top: 17px;
	left: 15px;
	z-index: 2;

	padding: 7px;
	font-size: 18px;
	border-radius: 4px;

	color: #ddd;
	background-color: #505053;
}
