.header {
	display: flex;
}

.tab {
	flex: 1;
	position: relative;
	padding: 12px;
	cursor: pointer;

	&:not(.active) {
		transition: background-color .1s;
		color: white;
		background: #888;

		&:hover, &:focus {
			background: #999;
		}
	}
}
