.dialog {
	display: flex;
	flex-direction: column;
	width: 640px;
	height: 540px;
}

.header {
	display: flex;
}

.tab {
	flex: 1;
	position: relative;
	padding: 12px;

	&:not(.active) {
		transition: background-color .1s;
		color: white;
		background: #888;
		cursor: pointer;

		&:hover, &:focus {
			background: #999;
		}
	}
}
