.variableGroup {
	composes: controls from global;

	position: absolute;
	right: 0;
	bottom: 0;
	width: 320px;
	border-top-left-radius: 4px;
}

.radioButtonGroup {
	display: grid;
	border: solid 1px #ccc;
	border-top: 0;
	border-left: 0;
}
