$icon-size: 48px;
$padding: 8px;
$loading-size: 40px;

.card {
	display: flex;
	align-items: center;
	position: relative;

	padding: $padding;
	border-radius: 4px;
	border: 1px solid #ccc;

	&:hover, &:focus {
		background-color: #f0f0f0;
	}
}

.demoIcon {
	display: block;
	width: $icon-size;
	height: $icon-size;
}

.demoDescription {
	flex: 1;
	margin-left: 10px;
	line-height: 1.3;
	text-align: start;
}

.loading {
	position: absolute;
	top: $padding;
	left: $padding;
	width: $icon-size;
	height: $icon-size;

	background: rgba(0, 0, 0, .6);

	&::before, &::after {
		content: "";
		display: block;
		position: absolute;

		border: 4px solid #fff;
		opacity: 1;
		border-radius: 50%;
		animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}

	&::after {
		animation-delay: -0.5s;
	}
}

@keyframes lds-ripple {
	0% {
		top: $loading-size / 2;
		left: $loading-size / 2;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0;
		left: 0;
		width: $loading-size;
		height: $loading-size;
		opacity: 0;
	}
}

