.container {
	composes: dialog-content from global;
	display: flex;
}

.menu {
	border-right: solid 1px #ddd;
	padding-right: 20px;
}

.menuItem {
	padding: 10px 15px 10px 10px;

	border-radius: 10px;
	font-size: 1.25em;
	cursor: pointer;
	transition: background-color .2s;

	&:hover, &:focus {
		outline: none; // for Chrome
		background-color: #e8f5fe;
	}
}

.active {
	color: #139df2;
}

.remove {
	margin-right: 6px;
	padding: 0;

	color: red;
	font-size: 1.25em;
	vertical-align: middle;

	&:focus {
		outline: dotted 2px;
	}
}

.name {
	vertical-align: middle;
}

.add {
	composes: menuItem;

	display: flex;
	padding: 10px;
	width: 5em;
	font-size: 24px;
	justify-content: center;
}

.optionsPanel {
	overflow-y: auto;
	padding: 0 20px;
}
