.container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.inputs {
	composes: controls from global;

	position: absolute;
	top: 0;
	right: 0;
	border-bottom-left-radius: 4px;
}

.option {
	display: flex;
	align-items: center;
	padding: 10px;
}

.icon {
	font-size: 24px;
	margin-right: auto;
}

.imageView {
	$tile-color: #eee;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	width: 100%;
	height: 100%;

	background-image:
			linear-gradient(45deg, $tile-color 25%, transparent 0),
			linear-gradient(45deg, transparent 75%, $tile-color 0),
			linear-gradient(45deg, $tile-color 25%, transparent 0),
			linear-gradient(45deg, transparent 75%, $tile-color 0);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px, 10px 10px, 0 0;
}

.wrapper {
	position: relative;

	// Disable image smoothing when scaling, see https://stackoverflow.com/a/14068216
	image-rendering: crisp-edges;          		// Firefox
	image-rendering: -o-crisp-edges;            // Opera
	image-rendering: -webkit-optimize-contrast; // Chrome (and eventually Safari)
	image-rendering: pixelated; 				// Chrome
	image-rendering: optimize-contrast;			// CSS3 Proposed

	filter: brightness(var(--brightness));
	transform: translate(var(--x), var(--y)) scale(var(--scale));
	will-change: filter, transform;
}

.canvas {
	position: absolute;
}

.controls {
	position: absolute;
	left: 50%;
	bottom: 8px;
	transform: translateX(-50%);

	display: flex;
}

.darkNumberInput {
	--border-color: rgba(0, 0, 0, .67);
	--button-bg: rgba(29, 29, 29, .92);

	color: white;
	background: var(--button-bg);

	&:focus-within {
		box-shadow: 0 0 0 2px white;
	}
}

.zoomInput {
	composes: darkNumberInput;

	--input-width: 80px;
	--size: 32px;
	--border-radius: 6px;

	font-weight: 700;
}

.button {
	margin-left: 10px;
	padding: 8px;
	font-size: 24px;

	border-radius: 6px;
	color: white;
	background: rgba(29, 29, 29, .92);

	&:hover {
		background: rgba(50, 50, 50, .92);
	}

	&:focus-visible {
		outline: 0;
		box-shadow: 0 0 0 3px white;
		background: rgba(29, 29, 29, .92);
	}

	&:active {
		background: rgba(29, 29, 29, .92);
	}
}

.popup {
	position: absolute;
	padding: 6px;
	font-size: .875em;

	transform: translateY(-100%);

	background: black;
	color: white;
	border: solid 1px white;
}

.color {
	margin: 2px;

	&::before {
		content: "";
		display: inline-block;
		width: .875em;
		height: .875em;
		margin-right: 8px;
		background-color: #4d89ff;
	}
}
