// Safari does not support flex-gap, use grid instead
.form {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	align-content: start;
}

.field {
	display: inline-block;
	width: 10em;
	margin-right: 10px;
}

.inlineLabel {
	margin-right: 5px;
}

.label {
	display: inline-block;
	font-size: .875em;
	font-weight: 600;
	color: #444;
	margin-bottom: 6px;
}

.value {
	width: 100%;
}
