.form {
	composes: dialog-content from global;

	// Safari does not support flex-gap
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	align-content: start;
}

.field {
	display: inline-block;
	margin-right: 20px;
}

.inlineLabel {
	margin-right: 8px;
	margin-left: 30px;
}

.label {
	display: block;
	font-size: .875em;
	font-weight: 600;
	color: #444;
	margin-bottom: 6px;
}
