

.demoLabel {
	display: block;
	margin: 20px 0 6px 0;
}

.demo {
	display: grid;
	width: 600px;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
}

.error {
	margin-right: auto;
	color: #ff1e1e;
}

