.uploadFile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 600px;
	height: 320px;

	position: relative;
	flex: 1;
	cursor: pointer;

	border: dashed 5px #ccc;
	transition: .2s;

	&.dragging, &:focus-within, &:hover {
		outline: none;
		border-color: #76b3ff;

		& .icon {
			color: #da76ff;
		}

		& .text {
			color: #4d89ff;
		}
	}
}

.icon {
	font-size: 4em;
	padding: 20px;
	color: #ccc;
	transition: .2s;
}

.text {
	color: #ccc;
	font-size: 48px;
	transition: .2s;
}

.fileInput {
	display: none;
}

.urlLabel {
	display: block;
	margin: 20px 0 6px 0;
}

.demo {
	display: grid;
	width: 600px;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
}

.error {
	margin-right: auto;
	color: #ff1e1e;
}

