.spinner {
	display: inline-flex;
	flex-direction: column;

	&:not(:last-child) {
		margin-right: 16px;
	}
}

.numberInput {
	margin-top: 5px;
	width: 120px;
}

.fieldset {
	padding: 12px 0;
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.controls {
	margin-top: 5px;
}

.label {
	margin-right: auto;
}

.body {
	margin-left: 30px;
}

.input {
	composes: no-spinner from global;

	margin-left: auto;
	width: 3em;
	padding: 2px 4px;

	border: 0;
	font-size: inherit;
	text-align: right;
	color: inherit;
	background: none;
}
