name: Test
on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          check-latest: true

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true

      - run: npm i -g pnpm

      - run: pnpm i --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Test
        run: pnpm run test
        env:
          CI: true
