body {
	margin: 0;
}

section {
	display: flex;
}

#preview {
	width: 600px;
	height: 400px;
}

#metrics {
	width: 600px;
	height: 400px;
}

#range {
	width: 400px;
}

#form {
	display: flex;
	flex-direction: column;
}
